.FoodListRoute {
  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem 0;
  }

  &__filter {
    margin: 2rem 0;
  }
}

.Pagination {
  align-items: center;
  display: flex;
  gap: 1rem;
}
