@import '~/scss/mixins';
@import '~/scss/variables';

.Input {
  @include radius-sm;
  @include transition-fast;
  border: 1px solid $border;
  outline: none;
  padding: 0.5rem 1rem;

  &:disabled {
    background-color: $oc-gray-3;
    cursor: not-allowed;
  }

  &:not(:disabled) {
    &:hover {
      border-color: $oc-gray-6;
    }
    &:focus,
    &:active {
      border-color: oc-get-color('primary', '9');
    }
    &:invalid {
      background-color: $oc-red-0;
      border-color: $oc-red-9;
    }
  }

  &.Input--fluid {
    width: 100%;
  }

  &.Input--invalid {
    background-color: $oc-red-0;
    border-color: $oc-red-9;
  }

  &__container {
    display: inline-block;

    &.Input__container--fluid {
      width: 100%;
    }
  }

  &__label {
    @include font-medium;
    color: $oc-gray-9;
    display: block;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
  }
}
