@import './open-color';

$border: $oc-gray-4;

$primary-0: $oc-blue-0;
$primary-1: $oc-blue-1;
$primary-2: $oc-blue-2;
$primary-3: $oc-blue-3;
$primary-4: $oc-blue-4;
$primary-5: $oc-blue-5;
$primary-6: $oc-blue-6;
$primary-7: $oc-blue-7;
$primary-8: $oc-blue-8;
$primary-9: $oc-blue-9;
