<div class="position-relative">
  <div class="popover__trigger" (click)="visible = true">
    <ng-content select="[slot=trigger]"></ng-content>
  </div>
  @if (visible) {
    <div
      class="popover"
      [ngStyle]="{
        'top': options.relativeTop,
        'left': options.relativeLeft,
        'bottom': options.relativeBottom,
        'right': options.relativeRight,
        'width': options.width,
        'z-index': options.zIndex,
      }"
    >
      <div class="popover__content">
        <ng-content></ng-content>
      </div>
    </div>
    <div class="popover__overlay" (click)="close()"></div>
  }
</div>
