@import './scss/mixins';
@import './scss/variables';
@import './scss/defaults';
@import './scss/typography';
@import './scss/utils';

body {
  @include scrollbar;
}

a {
  color: oc-get-color('primary', '9');
}

hr {
  border: none;
  border-top: 1px solid $border;
  margin: 1rem 0;
}

.centerPage {
  max-width: 20rem;
  margin: 3rem auto 1rem;
}

.material-icons,
.material-symbols,
.material-symbols-outlined {
  user-select: none;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.DropdownMenu {
  &__content,
  &__subContent {
    @include shadow-md;
    animation-duration: 400ms;
    background-color: white;
    border: 1px solid $border;
    border-radius: 8px;
    min-width: 10rem;
    padding: 0.5rem;
    will-change: transform, opacity;

    &[data-side='top'] {
      animation-name: slideDownAndFade;
    }
    &[data-side='right'] {
      animation-name: slideLeftAndFade;
    }
    &[data-side='bottom'] {
      animation-name: slideUpAndFade;
    }
    &[data-side='left'] {
      animation-name: slideRightAndFade;
    }
  }

  &__item,
  &__checkboxItem,
  &__radioItem,
  &__subTrigger {
    align-items: center;
    border-radius: 4px;
    display: flex;
    font-size: 0.875rem;
    line-height: 2rem;
    outline: none;
    padding: 0 0.25rem;
    padding-left: 2rem;
    position: relative;
    user-select: none;

    &[data-disabled] {
      color: $oc-gray-6;
      pointer-events: none;
    }

    &[data-highlighted] {
      background-color: oc-get-color('primary', '9');
      color: white !important;

      .DropdownMenu__icon {
        color: white;
      }

      .DropdownMenu__rightSlot {
        color: white;
      }
    }
  }

  &__item {
    &__indicator {
      align-items: center;
      display: inline-flex;
      position: absolute;
      justify-content: center;
      left: 0;
      width: 2rem;
    }
  }

  &__subTrigger[data-state='open'] {
    background-color: oc-get-color('primary', '9');
    color: white !important;
  }

  &__icon {
    align-items: center;
    color: $oc-gray-9;
    display: flex;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;

    .material-icons,
    .material-symbols,
    .material-symbols-outlined {
      font-size: 1rem;
    }
  }

  &__rightSlot {
    align-items: center;
    color: $oc-gray-5;
    display: flex;
    margin-left: auto;
    padding-left: 1.25rem;
  }

  &__label {
    color: $oc-gray-7;
    font-size: 0.75rem;
    padding-left: 2rem;
    line-height: 2rem;
  }

  &__separator {
    background-color: $border;
    height: 1px;
    margin: 0.25rem;
  }

  &__arrow {
    fill: white;
  }
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
