@import '~/scss/mixins';
@import '~/scss/variables';

.RadixDialog {
  &__overlay {
    animation: overlayShow 200ms;
    background-color: rgba($oc-gray-9, 0.7) !important;
    position: fixed;
    inset: 0;
  }

  &__content {
    @include shadow-lg;
    animation: contentShow 400ms;
    background-color: white;
    border-radius: 8px;
    max-height: 85vh;
    min-height: 3rem;
    min-width: 20rem;
    max-width: 90vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__close {
    position: absolute !important;
    top: 0.5rem;
    right: 0.5rem;
  }
}

.RadixDrawer {
  &__overlay {
    animation: overlayShow 200ms;
    background-color: rgba($oc-gray-9, 0.7) !important;
    position: fixed;
    inset: 0;
  }

  &__content {
    @include shadow-lg;
    animation: slideInRight 400ms;
    background-color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    min-width: 20rem;
  }

  &__close {
    position: absolute !important;
    top: 0.5rem;
    right: 0.5rem;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0);
  }
}
